.DS_Store
.build/
.swiftpm/
*.xcodeproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
!*.xcodeproj/xcshareddata/xcschemes/*.xcscheme
*.xcworkspace
xcuserdata/
DerivedData/
build/*.xcarchive
build/ipa_temp/
*.ipa
build/ipa/*.plist
build/ipa/*.log
