.DS_Store
.build/
.swiftpm/
*.xcworkspace
xcuserdata/
DerivedData/
ios/build/
build/*.xcarchive
build/ipa_temp/
*.ipa
build/ipa/*.plist
build/ipa/*.log
android/app/build/
android/.gradle/
android/local.properties
poemCollector/
